.container {
    width: 33%;
    margin: 14% 0 0 32%;
    font-family: open sans;
    border: solid;
    padding: 20px;
}

.text-center {
    text-align: center;
}

.text-left {
    margin: 5%;
}

    .text-left label {
        width: 30%;
        float: left;
        margin-right: 3%;
    }

.button-center {
    margin: 5% 0% 7% 45%;
    width: 20%;
    font-size: 16px;
}
